*/node_modules
/backend/venv/
*.pyc
*.Ds_store
/backend/data
/backend/backend/localsetting.py
/.vscode/
*.sqlite3

front-next# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

front-next# dependencies
front-next/node_modules
front-next/.pnp
front-next.pnp.js
front-next.yarn/install-state.gz


front-next# testing
front-next/coverage

front-next# next.js
/front-next/.next/
front-next/out/

front-next# production
front-next/build

front-next# misc
front-next.DS_Store
front-next*.pem

front-next# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

front-next# vercel
front-next.vercel

front-next# typescript
front-next*.tsbuildinfo
front-nextnext-env.d.ts