asgiref
backports.zoneinfo
Django
django-cors-headers
django-extensions
django-filter
djangorestframework
drf-yasg
importlib-metadata
inflection
mysqlclient
packaging
Pygments
PyJWT
pytz
PyYAML
sqlparse
typing-extensions
uritemplate
zipp
